* {
  border: green solid 2px;
}

#titulo {
  text-align: center;
  margin: 1%;
}

#form {
  max-width: 50%;
  margin: 2% auto;
  border: 1px solid #eaeaea;
}

.fieldset {
  padding: 30px;
}

#label {
  margin-left: 10px;
  line-height: 30px;
}

#resumo-curriculo, #descricao {
  display: flex;
  max-width: fit-content;
}

#textArea, #boxdescricao {
  display: flex;
  width: 80%;
  resize: vertical;
  max-height: 30%;
}