* {
  border: green solid 2px;
}

#titulo {
  text-align: center;
  margin: 1%;
}

#form {
  max-width: 50%;
  margin: 2% auto;
  border: 1px solid #eaeaea;
}

#nome, #email, #cpf, #endereco, #cidade, #textArea{
  margin-left: 20px;
  margin: 10px;
}